.header {
    background: rgb(114, 111, 111);
    color: #e66969;
    text-align: center;
    padding: 10px;
}

.header a {
    color: #333;
    padding-right: 5px;
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: column;
}

.ul {
    list-style-type: none;
    padding: none;
    border: 1px solid black;
}

.list {
    display: flex;
    flex-direction: column;
}

.toppings-list {
    display: flex;
    flex-direction: row;
}

.list-item-rank {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    order: 1;
    flex-grow: 1;
}

.list-item-topping {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    order: 2;
    flex-grow: 3;
}

.list-item-total {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    order: 3;
    flex-grow: 2;
}

.list-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}